body {
  padding: 0;
  margin: 0;
  width: 375px;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3e3c3c;
  color: #fff;
  position: absolute;
  width: 375px;
  height: 72px;
}

.nav-name {
  margin-left: 12px;
  padding: 2px 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.nav-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #acb7c3;
}

.nav-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 335px;
  gap: 15px;
  margin-left: -100%;
  background-color: #3e3c3c;
  height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  bottom: 0;
  top: 0;
}

.nav-list li {
  width: 255px;
  border-bottom: 1px solid #fff5e1;
  padding: 12px 12px;
}

.nav-envelope-icon {
  display: none;
}

.nav-list-remove {
  margin-left: 17rem;
  font-size: 24px;
  color: #979493;
  cursor: pointer;
}

.nav-li {
  padding: 12px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: 15px;
  line-height: 20px;
  cursor: pointer;
  width: 250px;
  color: #fff5e1;
  font-size: 32px;
  border: #fff5e1;
}

.nav-list.active {
  margin-left: 0;
}

.first-section {
  background-color: #1c1a19;
  background-image: url(./img/Illustration-header-resized.png);
  background-repeat: no-repeat;
  background-position: 200px 350px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
}

.left-section {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5rem;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
  list-style: none;
  justify-content: flex-start;
  padding-top: 30px;
}

.contact-icons i {
  font-size: 25px;
  color: #cfcfcf;
  cursor: pointer;
}

.central-section {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5rem;
}

.section-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  justify-content: center;
}

.section-text h2 {
  font-size: 56px;
  font-weight: 400;
  width: 300px;
  height: 90px;
  top: 120px;
  left: 24px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
  font-family: 'Crete Round', sans-serif;
}

.section-text h4 {
  font-size: 24px;
  font-weight: 600;
  width: 300px;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

.section-text p {
  font-weight: 400;
  width: 300px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  color: #cfcfcf;
  line-height: 24px;
}

.second-section {
  padding: 10px;
  width: 375px;
}

.second-sec-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.second-sec-div h3 {
  width: 327px;
  height: 50px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-left: 24px;
  padding-top: 3rem;
  padding-bottom: 10px;
}

.second-sec-div hr {
  color: #212121;
  width: 280px;
  margin-top: 10px;
}

.recent-works {
  width: 327px;
  height: 237px;
  padding-left: 24px;
  background-image: url(./img/Img\ Placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5rem;
}

.story-one {
  height: 15px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.story-two {
  height: 120px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  width: 350px;
}

.languages {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
  gap: 20px;
  width: 350px;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
}

.btn-project {
  background-color: #ff6b00;
  height: 48px;
  width: 124px;
  padding: 12px;
  gap: 10px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.btn-project:hover {
  background-color: #acb7c3;
}

.main-section {
  display: grid;
  grid-template-rows: repeat(6, 386px);
  width: 350px;
  margin-top: 30px;
  gap: 80px;
}

.works-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  background-image: url(./img/Img\ Placeholder-bg-resized.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.works-card h4 {
  width: 295px;
  height: 60px;
  color: #fff;
  padding-top: 8px;
  line-height: 44px;
  font-family: 'Crete Rount', sans-serif;
  font-weight: 400;
  font-size: 32px;
  padding-left: 16px;
}

.works-card p {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  color: #fff;
}

.works-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 16px;
  gap: 20px;
  width: 350px;
}

.works-ul li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
}

.works-card button {
  background-color: #ff6b00;
  width: 350px;
  height: 48px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.popup-section {
  position: fixed;
  margin-left: -100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.popup-section.active {
  margin-left: 2px;
}

.popup-window {
  width: 343px;
  height: 650px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.pop-win-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
}

.pop-win-h3 {
  width: 259px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.pop-win-remove {
  font-size: 24px;
  margin-right: 2rem;
  color: #67798e;
  cursor: pointer;
}

.works-ul .works-list {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #172b4d;
  top: 80px;
}

.popup-window img {
  margin-left: 15px;
  width: 311px;
}

.pop-win-text {
  width: 315px;
  margin-left: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 140px;
}

.pop-win-buttons {
  margin-left: 15px;
  width: 311px;
  height: 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.pop-win-buttons button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.third-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.about-me {
  padding-top: 3rem;
  background-image: url(./img/Group-resized.png);
  background-repeat: no-repeat;
  background-position: 260px 420px;
  height: 600px;
  width: 100%;
}

.about-me h2 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  height: 50px;
  margin-left: 24px;
}

.about-me p {
  height: 148px;
  margin-top: 15px;
  margin-left: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-me button {
  margin-left: 24px;
  background-color: #ff6b00;
  gap: 10px;
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 3%;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.works-card button:hover {
  background-color: #acb7c3;
}

.about-me button:hover {
  background-color: #acb7c3;
}

.frameworks {
  height: 900px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  padding-top: 4rem;
}

.third-section hr {
  width: 300px;
}

.skills-icon {
  color: #ff6b00;
  padding-right: 10px;
}

.icon-transform {
  transform: rotate(-45deg);
}

.skill-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.list-header {
  width: 164px;
  color: #fff;
  top: 8px;
  font-family: 'Meera Inimai', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
  padding-bottom: 10px;
}

.items {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 42px;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 58px;
  height: 844px;
  width: 325px;
}

.contact p {
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 330px;
  gap: 24px;
  align-items: center;
}

.form-input input {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 2px dotted #dbd8d7;
  outline: none;
}

.form-input textarea {
  width: 320px;
  height: 110px;
  background-color: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  padding-left: 12px;
  padding-top: 12px;
  margin-top: 12px;
}

.form-button {
  width: 131px;
  height: 48px;
  background-color: #ff6b00;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 3%;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #091e42;
}

.email-error {
  color: red;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-bar {
    position: absolute;
    width: 100%;
    height: 72px;
  }

  .nav-name {
    margin-left: 142px;
    padding: 2px 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
  }

  .nav-icon-span {
    display: none;
  }

  .nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 255px;
    gap: 15px;
    margin-right: 150px;
    margin-top: 0;
    padding-top: 10px;
    height: 25px;
  }

  .nav-list-remove {
    display: none;
  }

  .nav-envelope-icon {
    display: inline;
    color: #fff;
  }

  .nav-li {
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    text-decoration: none;
  }

  .nav-list li {
    width: 80px;
    border: none;
    padding: 10px 0;
  }

  .nav-list li:hover {
    background-color: #172b4d;
  }

  .first-section {
    background-image: url(./img/Illustration-header-three.png);
    background-position: right;
    height: 87vh;
    width: 100%;
    flex-direction: row-reverse;
    padding-top: 6rem;
  }

  .left-section {
    height: 100%;
    width: 10%;
    padding-top: 0;
    padding-left: 1rem;
  }

  .contact-icons {
    flex-direction: column;
    padding-top: 0;
  }

  .central-section {
    height: 100%;
    padding-top: 0;
  }

  .section-text {
    padding-left: 0;
    justify-content: center;
    width: 566px;
    animation: left-to-right 1s ease-in;
  }

  @keyframes left-to-right {
    100% {
      transform: translateX(100%);
    }
  }

  .section-text h2 {
    font-size: 72px;
    width: 566px;
    height: 120px;
    line-height: 80px;
  }

  .section-text h4 {
    font-size: 32px;
    font-weight: 500;
    width: 566px;
    margin: 5px 0;
    line-height: 30px;
  }

  .section-text p {
    width: 566px;
    left: 24px;
    font-size: 20px;
    color: #cfcfcf;
    line-height: 32px;
  }

  .second-section {
    padding: 10px;
    max-width: 1440px;
  }

  .second-sec-div {
    flex-direction: row;
    align-items: center;
    width: 1200px;
  }

  .second-sec-div h3 {
    padding-left: 80px;
  }

  .second-sec-div hr {
    color: #212121;
    width: 780px;
    margin: 0;
    height: 1px;
    padding: 0;
    margin-top: 4rem;
  }

  .second-sec-works {
    width: 1080px;
    margin-left: 80px;
    margin-top: 1rem;
    display: flex;
    gap: 24px;
  }

  .recent-works {
    width: 684px;
    height: 448px;
    padding-left: 24px;
    background-image: url(./img/Img\ Placeholder\ two.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }

  .recent-works-two {
    padding-top: 0;
  }

  .story-one {
    height: 10px;
    width: 448px;
    font-size: 40px;
    line-height: 0;
    margin-top: 20px;
  }

  .story-two {
    height: 120px;
    width: 448px;
    font-size: 20px;
    line-height: 24px;
  }

  .languages {
    width: 448px;
  }

  .main-section {
    grid-template-columns: repeat(3, 400px);
    width: 1150px;
    height: 800px;
    margin-top: 30px;
    margin-left: 80px;
    gap: 15px;
  }

  .popup-section {
    width: 1156px;
    margin-left: -100%;
    height: 631px;
    margin-top: 40px;
  }

  .popup-section.active {
    margin-left: 102px;
  }

  .popup-window {
    width: 1156px;
    height: 631px;
    top: 100px;
    margin-left: 0;
  }

  .pop-win-header {
    padding: 24px;
    height: 20px;
    margin-top: 1rem;
  }

  .pop-win-h3 {
    width: 600px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
  }

  .works-ul .works-list {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    top: 40px;
  }

  .pop-works {
    margin-left: 12px;
    margin-top: 0;
    display: flex;
    gap: 8px;
  }

  .image-text-button {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .popup-window img {
    width: 659px;
    height: 448px;
  }

  .pop-win-text {
    width: 424px;
    line-height: 30px;
    height: 375px;
  }

  .third-section {
    max-width: 1440px;
    height: 1150px;
  }

  .about-me {
    margin-left: 80px;
    background-image: url(./img/Frame-two.png);
    background-position: 920px 120px;
    height: 600px;
    max-width: 1346px;
  }

  .about-me h2 {
    margin-left: 24px;
  }

  .about-me p {
    margin-top: 15px;
    margin-left: 24px;
    font-size: 20px;
    line-height: 32px;
    width: 566px;
  }

  .about-me button {
    margin-left: 24px;
  }

  .third-section hr {
    width: 1200px;
  }

  .frameworks {
    height: 596px;
    max-width: 1200px;
    flex-direction: row;
    margin-left: 100px;
    padding-top: 0;
    justify-content: space-between;
  }

  .skill-items {
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    margin-top: 120px;
  }

  .list-header {
    width: 228px;
    font-size: 32px;
  }

  .items {
    font-size: 20px;
  }

  .contact {
    flex-direction: row;
    margin-left: 100px;
    gap: 58px;
    height: 400px;
    width: 1163px;
  }

  .contact p {
    width: 455px;
    height: 256px;
    font-size: 40px;
    line-height: 52px;
    text-align: start;
  }

  .form-input {
    width: 686px;
    align-items: flex-start;
    padding-top: 30px;
  }

  .form-input input {
    width: 652px;
  }

  .form-input textarea {
    width: 684px;
    height: 114px;
    padding-left: 0;
  }

  .section-text h2:hover {
    font-size: 80px;
  }
}
